/////////Cards Page/////////
.cards-page{
  height:100%;
  display: inline;
}

/////////Naxt and Back Buttons/////////
div.card-control{
  height:90vh;
  width:9vw;
  float:left;
  padding-top: 10vh;
  font-size: 10vw;
}

i.card-control{
  width: 100%;
  text-align: center;
}
i.card-control:hover{
  color:steelblue;
}

/////////Flashcards and Mastery Buttons/////////
.cards-container{
  grid-template-columns:100%;
  width: 80vw;
  float:left;
}

/////////Flashcards/////////
.flashcards{
  grid-column: 1 / span 1;
}

.flashcard{
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

h1.card-text{
  margin: auto;
  font-size: 1.5rem;
  padding: 0 10px;
}

.term{
  border: #093145 8px solid;
}

.mastered{
  border: limegreen 8px solid;
}

.almost{
  border: #ffe38e 8px solid;
}

.learning{
  border: #FF0033 8px solid;
}

h1#term{
  background-color: #white;
  color: #093145;
  font-size: 2.25rem;
  font-weight: 900;
}

/////////Mastery Buttons/////////
.card-control-bar{
  margin-top: 1rem;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 100%;
  grid-column-gap: 1%;

  grid-template-columns: 1fr 1fr 1fr;
}

.card-control-button{
  background-color: white;
  margin: auto;
  // height: 12vh;
  // font-size: 3rem;
  font-size: 6vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:white;
  font-weight: 800;
  width: 100%;
}
.card-control-button:hover{
  color:black;
}
.card-control-button:active{
  color:#dddddd;
}

#mastered-button{
  background-color: limegreen;//#81aa55; //#b2cf95;
}

#almost-button{
  background-color: #ffe38e;//#efcf6e;//#ffff66; //#fce6a3;
}

#learning-button{
  background-color: #FF0033; //salmon
}

/////////Toggle/////////
#toggle{
  position: absolute;
  left:92vw;
  top:5vh;
  color:black;
  font-size: 5vw;
}
