@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
  margin:0;
  overflow: hidden;
  user-select: none;
  font-family: 'Quicksand', sans-serif;
}
.body{

}
nav.nav{
  background-color: #e6e6e6;
  width: 100vw;
  padding: 0.5rem 3rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  user-select: none;
}

.nav-left{

}
.nav-center{
  text-align: center;
  font-weight: 800;
}
.nav-right{
  text-align: right;
}

#app{
}

.fcard{
}

h1{
  margin: auto;
  font-size: 1.5rem;
  padding: 0 10px;
}

.nav-bar{
  // margin-top: 1.5vh;
  margin-top: 1rem;
}

.nav-button{

  background-color: white;
  margin: auto;
  // height: 12vh;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:white;
  font-weight: 800;
}
#next{
  background-color: limegreen;
  // height: 12vh;
}

#back{
  background-color: crimson;
  // height: 12vh;
}

#home{
  background-color: lightgray;
  // height: 12vh;
}
#mastered-button{
  background-color: limegreen;//#81aa55; //#b2cf95;
  color:white;
  // height: 12vh;
}

#almost-button{
  background-color: #ffe38e;//#efcf6e;//#ffff66; //#fce6a3;
  // height: 12vh;
}

#learning-button{
  background-color: #FF0033; //salmon
  color:white;
  // height: 12vh;
}
.fsection{
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  text-align: center;

}

.container{
  margin: 0vh 3vw;
  height: 100vh;
}

.mastered{
  border: limegreen 8px solid;

}

.almost{
  border: #ffe38e 8px solid;
}

.learning{
  border: #FF0033 8px solid;
}
