.homepage{
  width: 80vw;
  margin: auto;
}

.startCards{
  display:block;
}

h1#startCards{
  margin: 50px auto;
  width: 50%;
  text-align: center;
  font-weight: 900;
  // border-radius: 10px;
  // border: 8px solid black;
  // background-color: steelblue;
}



.deck-tile{
  width: 80vw;
  margin: 10px auto;

  padding: 10px;
  text-align: center;

  border: 8px solid black;
  border-radius: 10px;
}

#deck-selected{
  background-color: limegreen;
  color:white;
}
